<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.DoAn1DoDienGiaDungConnectionString"
            connectionString="Data Source=LAPTOP-HG23EHP9\SQLEXPRESS;Initial Catalog=DoAn1DoDienGiaDung;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>